body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set height to fill the viewport */
}

.about-container {
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(to right, #e2f7e2, #f5f9f5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.member {
    display: inline-block;
    width: 250px;
    margin: 15px;
    text-align: center;
    vertical-align: top;
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.member h2 {
    font-size: 20px;
    margin: 20px 0;
    font-weight: bolder;
    color: #333;
    padding-top: 20px;
    border-top: 4px solid #4CAF50; /* Green border under the header */
    border-radius: 3px;
}

.member p {
    font-size: 16px;
    color: #666;
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .member {
        width: 100%;
        margin: 10px 0;
    }

    .about-container {
        padding: 15px;
    }

    h1 {
        font-size: 28px;
    }
}
