.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.pagination li {
    list-style: none;
}

.pagination li.active a {
    background-color: #007bff;
    color: white;
}

.pagination a {
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #f0f0f0;
}
